@model SimpleUser.MVC.Models.IndexVM
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Users" asp-action="Index" method="get">
    <p>
        Name: <input type="text" name="SearchString" value="@Model.SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<div>
    @await Component.InvokeAsync("User", new { searchString = Model.SearchString, pageIndex = Model.PageIndex })
</div>