@model string
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model" />
            <input type="submit" value="Search" class="btn btn-primary" />
        </p>
    </div>
</form>

@await Component.InvokeAsync("User", new { searchString = Model });